@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    
    font-family: "Mali", cursive;
    margin: 0;
    padding: 0;

}

:root {

    --skyBlue: rgba(3,227,255,1) 25%;
    --Blue: rgb(33, 98, 168) 100%;
    --white: #fff;
    --black: #000;
    --Border: 2rem solid var(--black);
    --boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --lightBG: #f5f5f5;
}

*::selection {
    background-color: rgb(96, 217, 128) 100%;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    background-color: rgb(35, 104, 189) 100%;

}

*::-webkit-scrollbar-thumb {
    background-color: rgb(35, 104, 189) 100%;
}

.header {

    background: linear-gradient(90deg, rgba(3,227,255,1) 0%, rgb(33, 98, 168) 100%);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.header h1 {
    
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.header h1 a {

    text-decoration: none;
    color: rgb(255, 255, 255);

}

.header h1 span {

    color: #000000;

}

.header ul li {

    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
}

.header ul li a{

    color:rgb(255, 255, 255);
    text-decoration: none;

}

.header ul li a .l{

    transition: 0.3s;

}

.header ul li a .l:hover{

    color:#F0B67F;

}

.header ul li a .r {

    transition: 0.3s;

}

.header ul li a .r:hover{

    color:#C7EFCF;

}

.header .navbar {

    font-size: 1.2em;

}

.header .navbar a {

    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    padding: 15px 20px;
    transition: 0.3s;

}

.header .navbar a:hover {

    color: #F0B67F;

}

.header .icons div {

    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    
}

.header .icons .fa-shopping-cart {

    cursor: pointer;
    transition: 0.3s;

}

.header .icons .fa-shopping-cart:hover {

    color: #F0B67F;

}

.header .icons div:hover {

    color: #F0B67F;

}

.header .account-box {

    position: absolute;
    top: 120%;
    right: 2rem;
    width: 15rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    display: none;
    animation: fadeIn 0.3s linear;
    background-color: rgb(124, 101, 101);
    padding-top: 3px;
    z-index: 2;
    
    
}

.header .account-box.active{

    display: inline-block;

}

.header .account-box span {

    color: white;

}

.header .account-box a {
    display:  inline-block;
    margin: 5px;
}

.header .account-box .delete-btn  {

    background: rgb(167, 10, 10);
    border-radius: 0.5rem;
    padding: 5px;  
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;

}

.header .account-box .order-btn {

    background: rgb(70, 238, 98);
    border-radius: 0.5rem;
    padding: 5px;  
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;

}

.header .account-box .order-btn:hover {

    background: #C7EFCF;
    color: rgb(175, 81, 81);

}

.header .account-box .review-btn {
    background: rgb(19, 109, 134);
    border-radius: 0.5rem;
    padding: 5px;  
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.header .account-box .review-btn:hover {

    background: #C7EFCF;
    color: rgb(175, 81, 81);

}

.header .account-box .waring-btn  {
    
    background: rgb(167, 159, 10);
    border-radius: 0.5rem;
    padding: 5px;  
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;

}

.header .account-box .waring-btn:hover {

    background: #C7EFCF;
    color: rgb(175, 81, 81);
}

.header .account-box .delete-btn:hover {

    background: #C7EFCF;
    color: rgb(175, 81, 81);
}


/* carousel */

.show-curosel {
    display: flex;
    justify-content: space-between;
}

#carouselExample, #carouselExampleCaptions{

    width: 50%;
    height: 85%;

}

#carouselExample {

    order: 1;

}

#carouselExampleCaptions {

    order: 2;

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

#carouselExample {
    
    position: relative;
    margin-top: 5px;
    margin-left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
}

.carousel-item img {

    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

#carouselExampleCaptions {

    position: relative;
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;
    padding: 5px;

}

.carousel-inner .carousel-item img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    
}

.carousel-caption{
    
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    color: #f10000;
    text-align: center;
    top: 0px;

}

.carousel-caption h5 {
    
    padding: 5px;
    top: 5px;

}

/* menu nav */

.menu {
    display: flex;
    justify-content: center; /* กำหนดให้เมนูอยู่กึ่งกลางแนวนอน */
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.menu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu ul li {

    display: inline;
    margin-right: 20px;
    font-size: 20px;
    line-height: 0.5;
    margin-bottom: 5px;

}

.menu ul li a {

    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-transform: uppercase;
    transition: 0.3s;

}

.menu ul li a:hover{

    color: #332292;

}

.menu ul li:last-child {

    margin-right: 0;

}

/* title */

h1.title {

    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgb(22, 72, 22);
}

/* show product */

.show-product {

    margin-top: 20px;

}

.show-product .container{

    
    max-width: 1200px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(4, auto);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;

}

.show-product .container .container-box img{
    
    max-height: 250px;
    max-width: 100%;

}

.show-product .container .container-box {

    position: relative;

}

.show-product .container .container-box p {

    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(184, 184, 184, 0.7);
    width: 100%;
    padding: 10px;
    z-index: 2;
    color: black;
    text-decoration: none;

}

.show-product .container .container-box:hover p {

    opacity: 1;

}

/* click product */

.product-box {

    background: rgb(207, 207, 207);
    max-width: 1000px;
    max-height: 2000px;
    margin-left: auto;
    margin-right: auto;

}

.product-box .box-item {

    display: flex;
    justify-content: space-around; 
    padding: 20px; /* เพิ่มช่องว่างรอบขอบของกล่อง */
    margin: 20px;
}

.product-box .box-item .arrow{

    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: 0.3s;
    position: relative;
    right: 20px;
    

}

.product-box .box-item .arrow:hover {

    color: #f10000;

}

.product-box .box-item img {

    max-width: 250px;
    margin-right: 20px;
    height: auto;
    
}

.product-box .box-item .box-text {

    margin-left: 20px;

}

.product-box .box-item .box-text form, .btn-danger .btn-success {

    
    margin: 3px;
    display: grid;
    grid-template-rows: auto auto;
}

/* cart */ 

.box-cart {
    width: 750px;
    height: 550px;
    background: rgb(194, 194, 194);
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box-cart .box-showcart img {
    border-radius: 0.5rem;
}

.box-cart .box-showcart {
    width: auto;
    border-radius: 0.5rem;
    background: wheat;
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.box-cart .box-showcart p {
    display: inline-block;
    padding: 5px;
}

.box-cart .box-showcart input[type="number"] {

    max-height: 25px;
    max-width: 50px;
    border-radius: 0.5rem;

}

.box-cart .box-showcart .box-input {

    display: flex;
    margin-left: auto;
    margin-right: auto;

}


@keyframes fadeIn {
    0% {
      transform: translateY(1rem);
      opacity: 0.2s;
    }
}